.share{
    
    
    border-radius: 10px;
    margin: 0 15px 0 15px;
    box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.685);
}

.shareWrapper{
    padding: 10px;

}

.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}

.shareTop{
   
    margin: 5px;
    display: flex;
    align-items: center;
}

.shareInput{
    border: none;
    border-bottom: 1px solid rgb(199, 199, 199);
    width: 100%;
    padding: 5px;
    
}

.shareInput:focus{
    outline: none;
}

.shareHr{
    margin: 20px;
}

.shareBottom{
    margin: 10px 5px;
    display: flex;
    justify-content: flex-start;
}

.shareOptions{
    display :flex;
    justify-content: space-between;
    margin-left: 5px
}
.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

 .shareIcon{
    font-size: 18px;
    margin-right: 3px;

 }

 .shareOptionText{
    font-size: 14px;
 }


 .shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    margin-left:auto;
    background-color: green;
    font-weight: 500;
    color: white;
 }