.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: rgb(0, 119, 255);
    display:flex;
    align-items: center;
    position:sticky;
    top:0;
    z-index: 999;
}

.searchBar{
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    align-items: center;

}

.topbarsearchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}

.topbarLogo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.searchInput{
    border: none;
    width: 70%;
}
.searchInput:focus{
    outline: none;
}

.topbarLeft{
    flex: 3;
}

.topbarCenter{
    flex: 5;
}

.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
}

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}



.topbarImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}


.topBarProfileMenu{
    display: flex;
    position: relative;
    align-items: center;
}