

.notificationsSection {
    position: absolute;
    z-index:10;
    right: 0;
    padding: 10px 0;
    max-height: 450px;
    width: 350px;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    color: black;
}

.notification{
    background-color: aliceblue;
    margin: 3px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.notification:hover{
    background-color: rgb(229, 242, 252);
}

.notificationLogoContainer{
    max-height: 40px;
    max-width: 40px;
    margin: 5px;
}

.notificationLogo{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.notificationsWrapper{
    background-color: rgb(218, 218, 218);
    height: calc(100% - 84px);
    margin:0px 10px;
    overflow-y: auto;
}

.notificationsSectionHeading{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

