.postMenu{
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;
    position:absolute;
    right: 10px;
    width: 150px;
    box-shadow: 1px 1px 1px 1px rgb(154, 154, 154);
}

.postMenuList{
    padding: 0;
    color:black;
    list-style: none;
    
}

.postMenuList > li {
    padding: 10px 10px;
    border-bottom: 1px solid rgb(158, 158, 158);
    display: flex;
    align-items: center;
}

.postMenuList > li:hover{
    cursor: pointer;
    background-color: rgb(215, 214, 214);
}